# python compiled files
__pycache__/
.cache
# *.ipynb
.ipynb_checkpoints
*.pyc
*.egg-info
dist
build
_build
_autosummary

# macOS files
.DS_Store

# ide settings and files
.idea
.vscode

# Other
.pytest_cache
*.p
*.csv
*.ftr
*.png

# Documentation build files
docs/build
SMARTEOLE_WakeSteering_ReadMe.xlsx
SMARTEOLE_WakeSteering_Map.pdf
SMARTEOLE-WFC-open-dataset.zip
examples_artificial_data/03_energy_ratio/heterogeneity_layouts.pdf
examples_artificial_data/05_model_fit/two_turbine_data.pkl
